/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #e60005;
    color: #ffffff;
    padding: 20px;
}

header img#logo {
    display: block;
    margin: 0 auto;
    width: 100px; /* Passe die Größe des Logos an */
}

header h1 {
    margin: 10px 0 5px;
    font-size: 2rem;
}

h1 {
    color: #e60005;
    text-align: center;
}

#app {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e60005;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#progress-bar {
    height: 100%;
    background-color: white;
    width: 0%;
}

#question-box {
    text-align: center;
}

#progress {
    background-color: #e60005;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

#question {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.answer {
    background-color: white;
    color: #e60005;
    border: 2px solid #e60005;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.answer:hover {
    background-color: #e60005;
    color: white;
}

#result-container {
    padding: 20px;
}

#results {
    margin: 20px 0;
    font-size: 1.2rem;
}

.result-item {
    margin-bottom: 20px;
    border: 1px solid #e60005;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    color: #e60005;
}

.result-label {
    font-size: 18px;
    font-weight: bold;
}

.result-bar-container {
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 10px 0;
}

.result-bar {
    height: 20px;
    background-color: #e60005;
    width: 0%;
    text-align: right;
    padding-right: 5px;
    line-height: 20px;
    color: white;
}


.result-percentage {
    text-align: right;
    font-size: 14px;
    color: #666;
}

#question-container {
    background-color: #e60005;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

